.main_button{
    background-color:rgb(191, 191, 0);
    color: black;
    border: none;
    padding: 1rem;
    border-radius: .25rem;
    transition: 500ms ease;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.main_button:hover{
    transform: scale(1.08);
}

.main_button.-secundary{
    background-color: black;
    color: #f3f3f3;
    width: 160px;
    padding: .75rem; 
  
}

