.container_about{
    display: flex;
    gap: 2rem;
    justify-content: center;

}

.foto_about{
    background-color: white;
    width: 40%;
    border-radius: .25rem;
}

.actions button{
    background-color: transparent;
    color: white;
    border: none;
    display: flex;
    width: auto;
    position: relative;
    font-size: 1.25rem;
    cursor: pointer;
}

.actions button::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: rgb(191, 191, 0);
    position: absolute;
    bottom: 0;
    transition: 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    

}

.actions button:hover::after{
    width: 100%;
}

.description_about{
    width: 50%;
    line-height: 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.description{
    color: white;
    text-align:justify;
}

.wrapper_skill{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    align-content: center;
}

.skill{

    border-radius: .25rem;
   
    display: flex;
    justify-content: center;
    height: 0;
    width: 0;
    transition: 300ms ease-in;
    cursor: pointer;
}

.skill:hover{
    transform: scale(1.05);
}

.skill.-activate{
    width: 80px;
    height: 80px;
    border: 1px solid  rgb(191, 191, 0);
}

.skill > img{

    width: 0;
    transition: 500ms ease-in;

}

.skill.-activate > img{
    width: 80%;
    border-radius: inherit;
    object-fit: contain;   
}

.about_area{
    transition: 500ms ease;
}

@media  screen and (max-width:940px) {
    .container_about{
        flex-direction: column;
        align-items: center;
    }

    .actions{
        display: flex;
        justify-content: center;
    }

    .description_about{
        width: 80%;
    }
}